Flask==3.1.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
python-dotenv==1.0.1
cloudinary==1.41.0
resend==2.5.1
razorpay==1.4.2
gunicorn==23.0.0
